<div class="absolute inset-x-0 top-0 z-50">
  <nav class="flex items-center justify-between p-6 lg:px-8" aria-label="Global">
    <div class="flex lg:flex-1">
      <a class="-m-1.5 p-1.5">
        <span class="sr-only">Winder</span>
        <img class="h-8 w-auto" src="assets/logos/sm-logo.png" alt="" />
      </a>
    </div>
    <div class="flex lg:hidden">
      <button type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
        <span class="sr-only">Open main menu</span>
        <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>
      </button>
    </div>
    <div class="hidden lg:flex lg:gap-x-12"></div>
    <div class="hidden lg:flex lg:flex-1 lg:justify-end">
      <a class="text-sm font-semibold leading-6 text-gray-900" routerLink="/project">Log in <span aria-hidden="true">&rarr;</span></a>
    </div>
  </nav>
</div>
<section class="header relative flex h-screen items-center pt-16">
  <div class="container mx-auto flex flex-wrap items-center">
    <div class="w-full px-4 md:w-8/12 lg:w-6/12 xl:w-6/12">
      <div winderOnScroll animation="animate" class="pt-32 sm:pt-0">
        <h2 class="text-4xl font-semibold text-slate-600">The Freelance Platform for Elite Developers</h2>
        <p class="mt-4 text-lg leading-relaxed text-slate-500">Connecting elite developers with top clients - Verified. Certified. Quality assured.</p>
        <div pAnimate enterClass="appear-from-behind" leaveClass="animate-t-b" class="mt-12 flex justify-center">
          <button
            class="get-started mr-1 mb-1 w-1/3 rounded bg-pink-500 px-6 py-4 text-sm font-bold uppercase text-white shadow outline-none transition-all duration-150 ease-linear hover:shadow-lg focus:outline-none active:bg-pink-600"
            routerLink="/auth/register">
            Get started
          </button>
        </div>
      </div>
    </div>
  </div>
  <img class="b-auto absolute top-0 right-0 -mt-48 w-10/12 pt-16 sm:mt-0 sm:w-6/12" src="assets/bg-lp.png" alt="..." style="max-height: 860px" />
  <div winderOnScroll animation="animate-b-t" class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80">
    <svg class="relative left-[calc(50%-11rem)] -z-10 h-[21.1875rem] max-w-none -translate-x-1/2 rotate-[30deg] sm:left-[calc(50%-30rem)] sm:h-[42.375rem]" viewBox="0 0 1155 678">
      <path
        fill="url(#45de2b6b-92d5-4d68-a6a0-9b9b2abad533)"
        fill-opacity=".3"
        d="M317.219 518.975L203.852 678 0 438.341l317.219 80.634 204.172-286.402c1.307 132.337 45.083 346.658 209.733 145.248C936.936 126.058 882.053-94.234 1031.02 41.331c119.18 108.451 130.68 295.337 121.53 375.223L855 299l21.173 362.054-558.954-142.079z" />
      <defs>
        <linearGradient id="45de2b6b-92d5-4d68-a6a0-9b9b2abad533" x1="1155.49" x2="-78.208" y1=".177" y2="474.645" gradientUnits="userSpaceOnUse">
          <stop stop-color="#9089FC" />
          <stop offset="1" stop-color="#FF80B5" />
        </linearGradient>
      </defs>
    </svg>
  </div>
</section>
<div class="relative isolate overflow-hidden bg-white px-6 py-24 sm:py-32 lg:overflow-visible lg:px-0">
  <div class="absolute inset-0 -z-10 overflow-hidden">
    <svg
      class="absolute top-0 left-[max(50%,25rem)] h-[64rem] w-[128rem] -translate-x-1/2 stroke-gray-200 [mask-image:radial-gradient(64rem_64rem_at_top,white,transparent)]"
      aria-hidden="true">
      <defs>
        <pattern id="e813992c-7d03-4cc4-a2bd-151760b470a0" width="200" height="200" x="50%" y="-1" patternUnits="userSpaceOnUse">
          <path d="M100 200V.5M.5 .5H200" fill="none" />
        </pattern>
      </defs>
      <svg x="50%" y="-1" class="overflow-visible fill-gray-50">
        <path d="M-100.5 0h201v201h-201Z M699.5 0h201v201h-201Z M499.5 400h201v201h-201Z M-300.5 600h201v201h-201Z" stroke-width="0" />
      </svg>
      <rect width="100%" height="100%" stroke-width="0" fill="url(#e813992c-7d03-4cc4-a2bd-151760b470a0)" />
    </svg>
  </div>
  <div class="py-24 sm:py-32">
    <div pAnimate enterClass="appear-from-behind" leaveClass="animate-b-t" class="mx-auto max-w-7xl px-6 lg:px-8">
      <h2 class="text-center text-lg font-semibold leading-8 text-gray-900">Trusted by the world’s most innovative teams</h2>
      <div class="mx-auto mt-10 grid max-w-lg grid-cols-4 items-center gap-x-8 gap-y-10 sm:max-w-xl sm:grid-cols-6 sm:gap-x-10 lg:mx-0 lg:max-w-none lg:grid-cols-5">
        <img
          class="col-span-2 max-h-12 w-full object-contain lg:col-span-1"
          src="https://tailwindui.com/img/logos/158x48/transistor-logo-gray-900.svg"
          alt="Transistor"
          width="158"
          height="48" />
        <img
          class="col-span-2 max-h-12 w-full object-contain lg:col-span-1"
          src="https://tailwindui.com/img/logos/158x48/reform-logo-gray-900.svg"
          alt="Reform"
          width="158"
          height="48" />
        <img
          class="col-span-2 max-h-12 w-full object-contain lg:col-span-1"
          src="https://tailwindui.com/img/logos/158x48/tuple-logo-gray-900.svg"
          alt="Tuple"
          width="158"
          height="48" />
        <img
          class="col-span-2 max-h-12 w-full object-contain sm:col-start-2 lg:col-span-1"
          src="https://tailwindui.com/img/logos/158x48/savvycal-logo-gray-900.svg"
          alt="SavvyCal"
          width="158"
          height="48" />
        <img
          class="col-span-2 col-start-2 max-h-12 w-full object-contain sm:col-start-auto lg:col-span-1"
          src="https://tailwindui.com/img/logos/158x48/statamic-logo-gray-900.svg"
          alt="Statamic"
          width="158"
          height="48" />
      </div>
    </div>
  </div>
</div>
<section class="relative mt-40 bg-slate-100 pb-40">
  <div class="absolute top-0 bottom-auto left-0 right-0 -mt-20 w-full" style="height: 80px">
    <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" version="1.1" viewBox="0 0 2560 100" x="0" y="0">
      <polygon class="fill-current text-slate-100" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
  <div winderOnScroll animation="animate-b-t" class="container mx-auto">
    <div class="flex flex-wrap items-center">
      <div class="con mr-auto ml-auto -mt-32 w-10/12 px-12 md:w-6/12 md:px-4 lg:w-4/12">
        <div class="relative mb-6 flex w-full min-w-0 flex-col break-words rounded-lg bg-pink-600 shadow-lg">
          <img
            alt="..."
            src="https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=700&amp;q=80"
            class="w-full rounded-t-lg align-middle" />
          <blockquote class="relative mb-4 p-8">
            <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95" class="absolute left-0 block w-full" style="height: 95px; top: -94px">
              <polygon points="-30,95 583,95 583,65" class="fill-current text-pink-600"></polygon>
            </svg>
            <h4 class="text-xl font-bold text-white">Great for your awesome project</h4>
            <p class="text-md mt-2 font-light text-white">
              Using this platform, clients can easily find and hire top-quality developers who have been verified and certified for their skills. This means clients can trust that
              they are hiring the right developer for their project, leading to higher quality work and better outcomes
            </p>
          </blockquote>
        </div>
      </div>
      <div class="w-full px-4 md:w-6/12">
        <div class="flex flex-wrap">
          <div class="w-full px-4 md:w-6/12">
            <div class="relative mt-4 flex flex-col">
              <div class="flex-auto px-4 py-5">
                <h6 class="mb-1 text-xl font-semibold">Create a project</h6>
                <p class="mb-4 text-slate-500">
                  The client will first create a project on the platform by filling out a form with project details such as project title, description, required skills, budget, and
                  deadline.
                </p>
              </div>
            </div>
            <div class="relative flex min-w-0 flex-col">
              <div class="flex-auto px-4 py-5">
                <h6 class="mb-1 text-xl font-semibold">Matchmaking algorithm</h6>
                <p class="mb-4 text-slate-500">
                  Once the client has created a project, the platform's matchmaking algorithm will match the project with developers who have the relevant skills and expertise. The
                  algorithm may consider factors such as the developer's
                </p>
              </div>
            </div>
          </div>
          <div class="w-full px-4 md:w-6/12">
            <div class="relative mt-4 flex min-w-0 flex-col">
              <div class="flex-auto px-4 py-5">
                <h6 class="mb-1 text-xl font-semibold">Review developer profiles</h6>
                <p class="mb-4 text-slate-500">
                  The platform will provide the client with a list of developers who are a good match for the project. The client can then review the developer profiles and assess
                  their skills, experience, certifications, and ratings from other clients.
                </p>
              </div>
            </div>
            <div class="relative flex min-w-0 flex-col">
              <div class="flex-auto px-4 py-5">
                <h6 class="mb-1 text-xl font-semibold">Choose a developer</h6>
                <p class="mb-4 text-slate-500">After reviewing the developer profiles, the client can choose a developer who they believe is the best fit for the project.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container mx-auto overflow-hidden pb-20">
    <div class="flex flex-wrap items-center pt-32">
      <div class="mr-auto ml-auto mt-32 w-full px-4 md:w-6/12">
        <div class="relative flex flex-wrap justify-center">
          <div class="my-4 w-full px-4 lg:w-6/12">
            <div winderOnScroll animation="animate-b-t" class="rounded-lg bg-sky-500 p-8 text-center shadow-lg">
              <img alt="..." class="mx-auto w-16 max-w-full rounded-full bg-white p-2 shadow-md" src="assets/logos/react.jpg" />
              <p class="mt-4 text-lg font-semibold text-white">ReactJS</p>
              <p class="mt-2 text-base text-white opacity-75">A JavaScript library for building user interfaces maintaned by Facebook and community of developers.</p>
            </div>
            <div winderOnScroll animation="animate-t-b" class="mt-8 rounded-lg bg-emerald-500 p-8 text-center shadow-lg">
              <img alt="..." class="mx-auto w-16 max-w-full rounded-full bg-white p-2 shadow-md" src="assets/logos/vue.jpg" />
              <p class="mt-4 text-lg font-semibold text-white">Vue.js</p>
              <p class="mt-2 text-base text-white opacity-75">An open-source Model–view–viewmodel JavaScript framework for building user interfaces.</p>
            </div>
          </div>
          <div winderOnScroll animation="animate-b-t" class="my-4 w-full px-4 lg:mt-16 lg:w-6/12">
            <div class="rounded-lg bg-orange-500 p-8 text-center shadow-lg">
              <img alt="..." class="mx-auto w-16 max-w-full rounded-full bg-white p-2 shadow-md" src="assets/logos/js.png" />
              <p class="mt-4 text-lg font-semibold text-white">JavaScript</p>
              <p class="mt-2 text-base text-white opacity-75">Object-oriented programming language that conforms to the ECMAScript specification.</p>
            </div>
            <div winderOnScroll animation="animate-t-b" class="mt-8 rounded-lg bg-red-600 p-8 text-center shadow-lg">
              <img alt="..." class="mx-auto w-16 max-w-full rounded-full bg-white p-2 shadow-md" src="assets/logos/angular.jpg" />
              <p class="mt-4 text-lg font-semibold text-white">Angular</p>
              <p class="mt-2 text-base text-white opacity-75">a JavaScript-based open-source front-end web framework mainly maintained by Google.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="ml-auto mr-auto mt-48 w-full px-12 md:w-4/12 md:px-4">
        <h3 class="mb-2 text-3xl font-semibold leading-normal">Comprehensive Testing Library</h3>
        <p class="mt-4 mb-4 text-lg font-light leading-relaxed text-slate-600">
          The platform offers a comprehensive library of tests covering different programming languages, frameworks, and tools. This allows developers to showcase their skills and
          get certified in their chosen stacks, making it easier for clients to find the right developer for their projects.
        </p>
        <div class="block pb-6">
          <span class="mr-2 mt-2 inline-block rounded-full bg-white py-1 px-2 text-xs font-semibold uppercase text-slate-500 last:mr-0">Css</span
          ><span class="mr-2 mt-2 inline-block rounded-full bg-white py-1 px-2 text-xs font-semibold uppercase text-slate-500 last:mr-0">Html</span
          ><span class="mr-2 mt-2 inline-block rounded-full bg-white py-1 px-2 text-xs font-semibold uppercase text-slate-500 last:mr-0">Java</span
          ><span class="mr-2 mt-2 inline-block rounded-full bg-white py-1 px-2 text-xs font-semibold uppercase text-slate-500 last:mr-0">C#</span
          ><span class="mr-2 mt-2 inline-block rounded-full bg-white py-1 px-2 text-xs font-semibold uppercase text-slate-500 last:mr-0">Swift</span
          ><span class="mr-2 mt-2 inline-block rounded-full bg-white py-1 px-2 text-xs font-semibold uppercase text-slate-500 last:mr-0">C</span
          ><span class="mr-2 mt-2 inline-block rounded-full bg-white py-1 px-2 text-xs font-semibold uppercase text-slate-500 last:mr-0">NodeJS</span
          ><span class="mr-2 mt-2 inline-block rounded-full bg-white py-1 px-2 text-xs font-semibold uppercase text-slate-500 last:mr-0">Dino</span>
          <span class="rounded-fullpy-1 mr-2 mt-2 inline-block px-2 text-xs font-semibold uppercase text-slate-500 last:mr-0">...</span>
        </div>
      </div>
    </div>
  </div>
  <div class="container mx-auto px-4 pb-32 pt-48">
    <div class="flex flex-wrap items-center">
      <div class="ml-auto w-full px-12 md:w-5/12 md:px-4">
        <div class="md:pr-12">
          <div class="h-17 w-17 mb-6 inline-flex items-center justify-center rounded-full bg-white p-3 text-center text-slate-500 shadow-lg">
            <img alt="..." class="rounded-fullp-2 mx-auto w-20 max-w-full" src="assets/logos/meet-logo.png" />
          </div>
          <h3 class="text-3xl font-semibold">Meet with us</h3>
          <p class="mt-4 text-lg leading-relaxed text-slate-500">
            We truly value your expertise and are excited to collaborate with you in building a revolutionary platform that connects clients with top-tier developers.
          </p>
          <ul class="mt-6 list-none">
            <li class="py-2">
              <div class="flex items-center">
                <div>
                  <span class="mr-3 inline-block rounded-full bg-slate-50 py-1 px-2 text-xs font-semibold uppercase text-slate-500"><i class="fas fa-fingerprint"></i></span>
                </div>
                <div>
                  <h4 class="text-slate-500">We'll work closely with you to identify areas where you may need additional support or guidance.</h4>
                </div>
              </div>
            </li>
            <li class="py-2">
              <div class="flex items-center">
                <div>
                  <span class="mr-3 inline-block rounded-full bg-slate-50 py-1 px-2 text-xs font-semibold uppercase text-slate-500"><i class="fab fa-html5"></i></span>
                </div>
                <div>
                  <h4 class="text-slate-500">We will provide you with the resources and mentorship you need to thrive.</h4>
                </div>
              </div>
            </li>
            <li class="py-2">
              <div class="flex items-center">
                <div>
                  <span class="mr-3 inline-block rounded-full bg-slate-50 py-1 px-2 text-xs font-semibold uppercase text-slate-500"><i class="far fa-paper-plane"></i></span>
                </div>
                <div>
                  <h4 class="text-slate-500">With our collaborative approach and your dedication to personal and professional growth.</h4>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div winderOnScroll animation="animate-b-t" class="mr-auto w-full px-4 pt-24 md:w-6/12 md:pt-0">
        <img
          alt="..."
          class="max-w-full rounded-lg shadow-xl"
          style="transform: scale(1) perspective(1040px) rotateY(-11deg) rotateX(2deg) rotate(2deg)"
          src="https://images.macrumors.com/t/c_Xl5fAhx2gQe7SV05dwgh8C6qU=/1600x0/article-new/2021/03/google-meet.jpeg" />
      </div>
    </div>
  </div>
</section>

<div class="overflow-hidden bg-slate-600 py-20"></div>
<section class="relative bg-slate-200 pb-16 pt-32">
  <div class="absolute top-0 bottom-auto left-0 right-0 -mt-20 w-full" style="height: 80px">
    <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" version="1.1" viewBox="0 0 2560 100" x="0" y="0">
      <polygon class="fill-current text-slate-200" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
  <div class="container mx-auto">
    <div class="relative z-10 -mt-64 flex flex-wrap justify-center rounded-lg bg-white py-16 px-12 shadow-xl">
      <div class="w-full text-center lg:w-8/12">
        <p class="text-center text-4xl">
          <span role="img" aria-label="love">😍</span>
        </p>
        <h3 class="text-3xl font-semibold">Start right now</h3>
        <p class="mt-4 mb-4 text-lg leading-relaxed text-slate-500">
          Unlock your potential and take your business to new heights with our cutting-edge application. Experience the power of a platform that seamlessly connects you with the
          best developers in the industry. Try it for free today and start making your dreams a reality!
        </p>
        <div class="mt-10 flex flex-col sm:block">
          <a
            class="get-started mr-1 mb-2 rounded bg-pink-500 px-6 py-4 text-sm font-bold uppercase text-white shadow outline-none transition-all duration-150 ease-linear hover:shadow-lg focus:outline-none active:bg-pink-600"
            routerLink="/auth/register"
            >Get started</a
          ><a
            routerLink="/auth/login"
            class="github-star mr-1 mb-1 rounded bg-slate-700 px-6 py-4 text-sm font-bold uppercase text-white shadow outline-none hover:shadow-lg focus:outline-none active:bg-slate-600 sm:ml-1"
            ><i class="fab fa-github mr-1 text-lg"></i><span>login</span></a
          >
        </div>
        <div class="mt-16 text-center"></div>
      </div>
    </div>
  </div>
</section>
<footer class="relative bg-slate-200 pt-8 pb-6">
  <div class="pointer-events-none absolute bottom-auto top-0 left-0 right-0 -mt-20 w-full overflow-hidden" style="height: 80px">
    <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" version="1.1" viewBox="0 0 2560 100" x="0" y="0">
      <polygon class="fill-current text-slate-200" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
  <div class="container mx-auto px-4">
    <div class="flex flex-wrap">
      <div class="w-full px-4 md:w-6/12">
        <h4 class="text-3xl font-semibold">Let&#x27;s keep in touch!</h4>
        <h5 class="mt-0 mb-2 text-lg text-slate-600">Find us on any of these platforms, we will be happy to respond.</h5>
        <div class="mt-6">
          <a href="https://github.com/jilani-Ourari/" target="_blank">
            <i
              class="pi pi-github font-lg align-center mr-2 inline-block items-center justify-center rounded-full bg-white p-3 text-center text-sky-400 shadow-lg outline-none focus:outline-none"></i
          ></a>
          <a href="https://www.facebook.com/ourari.jilani.58/" target="_blank">
            <i
              class="pi pi-facebook font-lg align-center mr-2 inline-block items-center justify-center rounded-full bg-white p-3 text-center text-sky-400 shadow-lg outline-none focus:outline-none"></i
          ></a>
          <a href="https://www.facebook.com/ourari.jilani.58/" target="_blank">
            <i
              class="pi pi-instagram font-lg align-center mr-2 inline-block items-center justify-center rounded-full bg-white p-3 text-center text-sky-400 shadow-lg outline-none focus:outline-none"></i
          ></a>
        </div>
      </div>
    </div>
    <hr class="my-6 border-slate-300" />
    <div class="flex flex-wrap items-center justify-center md:justify-between">
      <div class="mx-auto w-full px-4 text-center md:w-4/12">
        <div class="py-1 text-sm font-semibold text-slate-500">
          Copyright © 2023 with
          <i class="pi pi-heart-fill px-1" style="color: #fa9999"></i>
          by
          <a href="https://appnester.com/" class="text-slate-500 hover:text-slate-800" target="_blank">App nester</a>.
        </div>
      </div>
    </div>
  </div>
</footer>
