::ng-deep .p-datatable .p-datatable-header {
  background: transparent;
}

::ng-deep .p-datatable .p-datatable-tbody > tr {
  background: transparent;
  color: #3f3f46;
  transition: none;
}
::ng-deep .p-datatable .p-datatable-thead > tr > th {
  text-align: left;
  padding: 0.75rem 1.5rem;
  border: 1px solid #f4f4f5;
  border-width: 0 0 1px 0;
  font-weight: 500;
  color: #6b7280;
  background: transparent;
  transition: none;
}

::ng-deep .p-paginator {
  color: #71717a;
  border: solid #f4f4f5;
  border-width: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 0.375rem;
  background: transparent;
}
::ng-deep .p-datatable .p-datatable-footer {
  background: transparent;
  color: #3f3f46;
  border: 1px solid #f4f4f5;
  border-width: 0 0 1px 0;
  padding: 0.75rem 1.5rem;
  font-weight: 600;
}
::ng-deep .p-dialog {
  border-radius: 9.375rem;
  box-shadow: 0 20px 25px -32px rgba(0, 0, 0, -0.9), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  border: 0 none;
}
.reclamation-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 5px;
}

.form-group {
  margin-bottom: 15px;
}

.label {
  font-weight: bold;
}

.input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.button-group {
  text-align: center;
  margin-top: 20px;
}

.btn-primary {
  background-color: #16a34a;
  color: #fff;
  padding: 8px 16px;
  border-radius: 3px;
  cursor: pointer;
}

.btn-secondary {
  background-color: #6c757d;
  color: #fff;
  padding: 8px 16px;
  border-radius: 3px;
  cursor: pointer;
}
