/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: 'inter var', sans-serif;
  background-color: rgba(138, 147, 153, 0.1);

}
.p-progressbar-value {
  background: #22c55e !important;
}
p-radiobutton .p-radiobutton-box.p-highlight {
  border-color: #16a34a !important;
  background: #16a34a !important;
}

